<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Binance Trader</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="securityObject.isAuthenticated">
        <a class="nav-link" href="#">Markets</a>
      </li>
      <li class="nav-item" *ngIf="securityObject.isAuthenticated">
        <a class="nav-link" href="#">Currencies</a>
      </li>
      <li class="nav-item" *ngIf="securityObject.isAuthenticated">
        <a class="nav-link" href="#">Transactions</a>
      </li>
      <li class="nav-item" *ngIf="securityObject.isAuthenticated">
        <a class="nav-link" href="#">Rules</a>
      </li>
      <li class="nav-item" *ngIf="securityObject.isAuthenticated">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item" *ngIf="securityObject.isAuthenticated">
        <a class="nav-link" href="#">Settings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!securityObject.isAuthenticated"><a class="nav-link"  routerLink="sign-up">
          <i class="fa fa-user"> </i> Sign Up</a>
        </li>
        <li *ngIf="securityObject.isAuthenticated">
          <a class="nav-link" href="#"><i class="fa fa-sign-out"> </i> Sign Out</a>
        </li>
        <li *ngIf="!securityObject.isAuthenticated">
          <a class="nav-link" href="#"><i class="fa fa-sign-in" > </i> Sign In</a>
        </li>
    </ul>
  </div>
</nav>
<div class="container body-content">
  <router-outlet></router-outlet>
</div> 
